

.flexWrap {
 width: 944px;
 background-color: #ffffff;
 display: flex;
 flex-wrap: wrap;
 position: relative;
 margin: 0 auto;
}

@media (max-width: 992px) {
 .flexWrap {
  width: 387px;
  flex-direction: column;
 }
}


.content {
 width: 100%;
 background-color: #e5e5e5;
}

.error-list {
 position: absolute;
 left: 50%;
 top: 50%;
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

