.wrap {
   width: 1010px;
   background-color: #FFFFFF;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}

.content{
   width: 100%;
   background-color:#E5E5E5;}
   
   
/*
<Col span={9} className="column" offset={2}>
              <Card>
              <Row>
                <Col flex="auto">
                  <img
                    style={{ width: "143px", height: "281" }}
                    className="poster"
                    src={`https://image.tmdb.org/t/p/original${
                      moviesData[i + 1].poster_path
                    }`}
                  />
                </Col>
                <Col flex="200px">
                  <h5  className="nameMovie">{moviesData[i + 1].title}</h5>
                  <span className="dateMovie">{format(new Date(releaseDates[i + 1]), "MMMM dd, yyyy", {
                    locale: enGB,
                  })}</span>
                  <p className="overview">{this.sliceText(moviesData[i + 1].overview)}</p>
                  
                </Col>
              </Row>
              </Card>
            </Col>
*/